.header {
    display: grid;
    grid-template-columns: 300px 1fr 100px;
    grid-template-rows: 60px;
    background-color: rgb(42, 42, 70);
    padding: 15px;

}

.headerNav {
    display: flex;
    justify-content: start;
    padding-left: 40px;
}

.logo {
    width: 200px;
}

@media(max-width: 1288px) {
    .header {
        display: flex;
        min-height: 60px;
    }
    .headerNav {
        width: 100%;
        justify-content: center;
    }
}